
.Cards{
    margin-top:50px;
    display:inline-block;


}
.CardBody{
    background-color: rgba(65, 60, 60, 0.5);

    padding-top:60px;
    color:#c66c59;
    box-shadow: 5px 5px 5px #807e7e;
    height:22rem;



}
.CardText ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  1rem;
    font-style: italic;
    text-align: center;
    list-style-type: none;
    color:#c66c59;


}
.btn{
    background-color: #a58781;
    color:white;
    left:280px;
    position: absolute;
}
.btn:hover{
    color:white;
}
